<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="smartosc" translate="label" sortOrder="1000">
            <label>SmartOSC Config One</label>
        </tab>
        <section id="training" translate="label" sortOrder="1001" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>General One</label>
            <tab>smartosc</tab>
            <resource>SmartOSC_LearningUnit:fake_facebook</resource>
            <group id="course_information" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Fresher Course Info</label>
                <field id="is_active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Is Active</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field  id="name" translate="label" typ="text" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Course Name</label>
                </field>
            </group>
        </section>
    </system>
</config>
