<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="smartosc" translate="label" sortOrder="10">
            <label>SmartOSC</label>
        </tab>
        <section id="smartosc_configuration" translate="label" sortOrder="100" showInDefault="10" showInWebsite="0" showInStore="0">
            <label>Configuration</label>
            <tab>smartosc</tab>
        </section>
    </system>
</config>
